<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="troevil.dao.MemtypeMapper">
	<resultMap id="BaseResultMap" type="troevil.model.Memtype">
		<id column="typeid" property="typeid" jdbcType="INTEGER" />
		<result column="typename" property="typename" jdbcType="VARCHAR" />
		<result column="daily" property="daily" jdbcType="INTEGER" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="allowreg" property="allowreg" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		typeid, typename, daily, status, allowreg
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from lighter_memtype
		where typeid = #{typeid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		lighter_memtype
		where typeid = #{typeid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="troevil.model.Memtype">
		insert into lighter_memtype
		(typeid, typename, daily,
		status, allowreg)
		values
		(#{typeid,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR},
		#{daily,jdbcType=INTEGER},
		#{status,jdbcType=INTEGER},
		#{allowreg,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="troevil.model.Memtype">
		insert into lighter_memtype
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="typeid != null">
				typeid,
			</if>
			<if test="typename != null">
				typename,
			</if>
			<if test="daily != null">
				daily,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="allowreg != null">
				allowreg,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="typeid != null">
				#{typeid,jdbcType=INTEGER},
			</if>
			<if test="typename != null">
				#{typename,jdbcType=VARCHAR},
			</if>
			<if test="daily != null">
				#{daily,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="allowreg != null">
				#{allowreg,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="troevil.model.Memtype">
		update lighter_memtype
		<set>
			<if test="typename != null">
				typename = #{typename,jdbcType=VARCHAR},
			</if>
			<if test="daily != null">
				daily = #{daily,jdbcType=INTEGER},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="allowreg != null">
				allowreg = #{allowreg,jdbcType=INTEGER},
			</if>
		</set>
		where typeid = #{typeid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="troevil.model.Memtype">
		update
		lighter_memtype
		set typename = #{typename,jdbcType=VARCHAR},
		daily =
		#{daily,jdbcType=INTEGER},
		status = #{status,jdbcType=INTEGER},
		allowreg = #{allowreg,jdbcType=INTEGER}
		where typeid =
		#{typeid,jdbcType=INTEGER}
	</update>
	<select id="selectAllowregtype" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from lighter_memtype
		where allowreg = #{allowreg,jdbcType=TINYINT}
	</select>
</mapper>