<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="troevil.dao.CommitMapper">
	<resultMap id="BaseResultMap" type="troevil.model.Commit">
		<id column="commitid" property="commitid" jdbcType="INTEGER" />
		<result column="userid" property="userid" jdbcType="INTEGER" />
		<result column="vistitorid" property="vistitorid" jdbcType="INTEGER" />
		<result column="textarea" property="textarea" jdbcType="VARCHAR" />
		<result column="pubdate" property="pubdate" jdbcType="DATE" />
		<result column="artstatus" property="artstatus" jdbcType="INTEGER" />
		<result column="articleid" property="articleid" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		commitid, userid, vistitorid, textarea, pubdate, artstatus,
		articleid
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from lighter_commit
		where commitid = #{commitid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		lighter_commit
		where commitid = #{commitid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="troevil.model.Commit">
		insert into lighter_commit
		(commitid, userid, vistitorid,
		textarea, pubdate, artstatus,
		articleid)
		values (#{commitid,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER},
		#{vistitorid,jdbcType=INTEGER},
		#{textarea,jdbcType=VARCHAR},
		#{pubdate,jdbcType=DATE}, #{artstatus,jdbcType=INTEGER},
		#{articleid,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="troevil.model.Commit">
		insert into lighter_commit
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="commitid != null">
				commitid,
			</if>
			<if test="userid != null">
				userid,
			</if>
			<if test="vistitorid != null">
				vistitorid,
			</if>
			<if test="textarea != null">
				textarea,
			</if>
			<if test="pubdate != null">
				pubdate,
			</if>
			<if test="artstatus != null">
				artstatus,
			</if>
			<if test="articleid != null">
				articleid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="commitid != null">
				#{commitid,jdbcType=INTEGER},
			</if>
			<if test="userid != null">
				#{userid,jdbcType=INTEGER},
			</if>
			<if test="vistitorid != null">
				#{vistitorid,jdbcType=INTEGER},
			</if>
			<if test="textarea != null">
				#{textarea,jdbcType=VARCHAR},
			</if>
			<if test="pubdate != null">
				#{pubdate,jdbcType=DATE},
			</if>
			<if test="artstatus != null">
				#{artstatus,jdbcType=INTEGER},
			</if>
			<if test="articleid != null">
				#{articleid,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="troevil.model.Commit">
		update lighter_commit
		<set>
			<if test="userid != null">
				userid = #{userid,jdbcType=INTEGER},
			</if>
			<if test="vistitorid != null">
				vistitorid = #{vistitorid,jdbcType=INTEGER},
			</if>
			<if test="textarea != null">
				textarea = #{textarea,jdbcType=VARCHAR},
			</if>
			<if test="pubdate != null">
				pubdate = #{pubdate,jdbcType=DATE},
			</if>
			<if test="artstatus != null">
				artstatus = #{artstatus,jdbcType=INTEGER},
			</if>
			<if test="articleid != null">
				articleid = #{articleid,jdbcType=INTEGER},
			</if>
		</set>
		where commitid = #{commitid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="troevil.model.Commit">
		update
		lighter_commit
		set userid = #{userid,jdbcType=INTEGER},
		vistitorid =
		#{vistitorid,jdbcType=INTEGER},
		textarea =
		#{textarea,jdbcType=VARCHAR},
		pubdate = #{pubdate,jdbcType=DATE},
		artstatus = #{artstatus,jdbcType=INTEGER},
		articleid =
		#{articleid,jdbcType=INTEGER}
		where commitid =
		#{commitid,jdbcType=INTEGER}
	</update>
</mapper>