<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="troevil.dao.SettingsMapper">
	<resultMap id="BaseResultMap" type="troevil.model.Settings">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, value
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from lighter_settings
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		lighter_settings
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="troevil.model.Settings">
		insert into lighter_settings
		(id, name, value
		)
		values (#{id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{value,jdbcType=INTEGER}
		)
	</insert>
	<insert id="insertSelective" parameterType="troevil.model.Settings">
		insert into lighter_settings
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="value != null">
				value,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				#{value,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="troevil.model.Settings">
		update lighter_settings
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="value != null">
				value = #{value,jdbcType=INTEGER},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="troevil.model.Settings">
		update
		lighter_settings
		set name = #{name,jdbcType=VARCHAR},
		value =
		#{value,jdbcType=INTEGER}
		where id = #{id,jdbcType=INTEGER}
	</update>
	<select id="selectByname" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from lighter_settings
		where name = #{name,jdbcType=VARCHAR}
	</select>
</mapper>