a.backtop {
	background: url(../img/backtotop.png) no-repeat center center;
	bottom: 20px;
	cursor: pointer;
	display: none;
	height: 70px;
	position: fixed;
	right: 20px;
	text-indent: -9999px;
	width: 70px;
	z-index: 100;
}

.news_li, .swap {
	line-height: 35px;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 10px;
}

.box {
	background: #000;
	overflow: hidden;
}

.new_li li {
	list-style: none;
}

.t_news h5 li {
	list-style: none;
}

.widget-box {
	background: none repeat scroll 0 0 #F9F9F9;
	border-top: 1px solid #CDCDCD;
	border-left: 1px solid #CDCDCD;
	border-right: 1px solid #CDCDCD;
	clear: both;
	margin-top: 16px;
	margin-bottom: 16px;
	position: relative;
}

.widget-box.widget-calendar, .widget-box.widget-chat {
	overflow: hidden !important;
}

.accordion .widget-box {
	margin-top: -2px;
	margin-bottom: 0;
	border-radius: 0;
}

.widget-box.widget-plain {
	background: transparent;
	border: none;
	margin-top: 0;
	margin-bottom: 0;
}

.widget-title, .table th, div.dataTables_wrapper .ui-widget-header,
	.ui-dialog .ui-dialog-titlebar {
	background-color: #efefef;
	background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#fdfdfd),
		to(#eaeaea));
	background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
	background-image: -moz-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
	background-image: -ms-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
	background-image: -o-linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
	background-image: -linear-gradient(top, #fdfdfd 0%, #eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd',
		endColorstr='#eaeaea', GradientType=0); /* IE6-9 */
	border-bottom: 1px solid #CDCDCD;
	height: 36px;
}

.widget-title .nav-tabs {
	border-bottom: 0 none;
}

.widget-title .nav-tabs li a {
	border-bottom: medium none !important;
	border-left: 1px solid #DDDDDD;
	border-radius: 0 0 0 0;
	border-right: 1px solid #DDDDDD;
	border-top: medium none;
	color: #999999;
	margin: 0;
	outline: medium none;
	padding: 9px 10px 8px;
	font-weight: bold;
	text-shadow: 0 1px 0 #FFFFFF;
}

.widget-title .nav-tabs li:first-child a {
	border-left: medium none !important;
}

.widget-title .nav-tabs li a:hover {
	background-color: transparent !important;
	border-color: #D6D6D6;
	border-width: 0 1px;
	color: #666666;
}

.widget-title .nav-tabs li.active a {
	background-color: #F9F9F9 !important;
	color: #444444;
}

.widget-title span.icon {
	border-right: 1px solid #cdcdcd;
	padding: 9px 10px 7px 11px;
	float: left;
	opacity: .7;
}

.widget-title h5 {
	color: #666666;
	text-shadow: 0 1px 0 #ffffff;
	float: left;
	font-size: 12px;
	font-weight: bold;
	padding: 12px;
	line-height: 12px;
	margin: 0;
}

.widget-title .buttons {
	float: right;
	margin: 8px 10px 0 0;
}

.widget-title .label {
	padding: 3px 5px 2px;
	float: right;
	margin: 9px 15px 0 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset, 0 1px 0 #ffffff;
}

.widget-calendar .widget-title .label {
	margin-right: 190px;
}

.widget-content {
	padding: 12px 15px;
	border-bottom: 1px solid #cdcdcd;
}

.widget-box.widget-plain .widget-content {
	padding: 12px 0 0;
}

.widget-box.collapsible .collapse.in .widget-content {
	border-bottom: 1px solid #CDCDCD;
}

.ui-dialog {
	padding: 0;
}

.ui-dialog .ui-dialog-title {
	font-size: 14px;
	margin: 4px 0 0;
}

.ui-widget-overlay {
	position: fixed;
}

.ui-dialog .ui-dialog-titlebar-close {
	background: transparent url("../img/glyphicons-halflings.png") -310px
		2px scroll;
	margin: -15px 0 0;
}

ul#icons li {
	cursor: pointer;
	float: left;
	list-style: none outside none;
	margin: 2px;
	padding: 4px 0;
	position: relative;
}

.recent-posts, .recent-comments, .recent-users {
	margin: 0;
	padding: 0;
}

.recent-posts li, .recent-comments li, .article-post li, .recent-users li
	{
	border-bottom: 1px dotted #AEBDC8;
	list-style: none outside none;
	padding: 10px;
}

.recent-posts .article-post, .recent-comments .comments {
	margin-left: 60px;
}

.recent-posts li.viewall, .recent-comments li.viewall, .recent-users li.viewall
	{
	padding: 0;
}

.recent-posts li.viewall a, .recent-comments li.viewall a, .recent-users li.viewall a
	{
	padding: 5px;
	text-align: center;
	display: block;
	color: #888888;
}

.recent-posts li.viewall a:hover, .recent-comments li.viewall a:hover,
	.recent-users li.viewall a:hover {
	background-color: #eeeeee;
}

.recent-posts li:last-child, .recent-comments li:last-child,
	.recent-users li:last-child {
	border-bottom: none !important;
}

.user-thumb {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #B6BCBF;
	float: left;
	height: 40px;
	margin-right: 10px;
	margin-top: 5px;
	padding: 2px;
	width: 40px;
}

.user-info {
	color: #666666;
	font-size: 11px;
}

.invoice-content {
	padding: 20px;
}

.invoice-action {
	margin-bottom: 30px;
}

.invoice-head {
	clear: both;
	margin-bottom: 40px;
	overflow: hidden;
	width: auto;
}

.invoice-meta {
	font-size: 18px;
	margin-bottom: 40px;
}

.invoice-date {
	float: right;
	font-size: 80%;
}

.invoice-content h5 {
	color: #333333;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
}

.invoice-content ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.invoice-to {
	float: left;
	width: 370px;
}

.invoice-from {
	float: right;
	width: 300px;
}

.invoice-to li, .invoice-from li {
	clear: left;
}

.invoice-to li span, .invoice-from li span {
	display: block;
}

.invoice-content th.total-label {
	text-align: right;
}

.invoice-content th.total-amount {
	text-align: left;
}

.amount-word {
	color: #666666;
	margin-bottom: 40px;
	margin-top: 40px;
}

.amount-word span {
	color: #5476A6;
	font-weight: bold;
	padding-left: 20px;
}

.panel-left {
	margin-right: 250px;
}

.panel-right {
	width: 249px;
	background-color: #f2f2f2;
	border-left: 1px solid #dddddd;
	position: absolute;
	right: 0;
	top: 37px;
	height: 2500px;
}

.panel-right .panel-title {
	width: 100%;
	background-color: #ececec;
	border-bottom: 1px solid #dddddd;
}

.panel-right .panel-title h5 {
	font-size: 12px;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
	padding: 6px 10px 5px;
	margin: 0;
}

.panel-right .panel-content {
	padding: 10px;
}

.chat-content {
	height: 470px;
	padding: 15px;
}

.chat-messages {
	background: none repeat scroll 0 0 #FDFDFD;
	border: 1px solid #DDDDDD;
	height: 425px;
	overflow: auto;
	position: relative;
}

.chat-message {
	padding: 7px 15px;
	margin: 7px 0 0;
}

.chat-message input[type=text] {
	margin-bottom: 0 !important;
	width: 100%;
}

.chat-message .input-box {
	display: block;
	margin-right: 90px;
}

.chat-message button {
	float: right;
}

#chat-messages-inner p {
	padding: 10px;
	margin: 10px 0;
}

#chat-messages-inner p img {
	display: inline-block;
	float: left;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	margin-top: 6px;
}

#chat-messages-inner .msg-block, #chat-messages-inner p.offline span {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #cccccc;
	box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.05);
	display: block;
	margin-left: 40px;
	padding: 10px;
	position: relative;
}

#chat-messages-inner p.offline span {
	background: none repeat scroll 0 0 #FFF5F5;
}

#chat-messages-inner .time {
	color: #999999;
	font-size: 11px;
	font-style: italic;
}

#chat-messages-inner .msg {
	display: block;
	margin-top: 10px;
}

#chat-messages-inner .msg-block:before {
	border-right: 7px solid rgba(0, 0, 0, 0.1);
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	content: "";
	display: inline-block;
	left: -7px;
	position: absolute;
	top: 11px;
}

#chat-messages-inner .msg-block:after {
	border-right: 6px solid #ffffff;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: "";
	display: inline-block;
	left: -6px;
	position: absolute;
	top: 12px;
}

.chat-users {
	padding: 0 0 30px;
}

.chat-users .contact-list {
	line-height: 21px;
	list-style: none outside none;
	margin: 0;
	padding: 0;
	font-size: 10px;
}

.chat-users .contact-list li {
	border-color: #dddddd;
	border-style: none none solid;
	border-width: 0 0 1px;
	padding: 1px;
	position: relative;
}

.chat-users .contact-list li:hover {
	background-color: #efefef;
}

.chat-users .contact-list li a {
	color: #666666;
	display: block;
	padding: 8px 5px;
}

.chat-users .contact-list li.online a {
	font-weight: bold;
}

.chat-users .contact-list li.new {
	background-color: #eaeaea;
}

.chat-users .contact-list li.offline {
	background-color: #EDE0E0;
}

.chat-users .contact-list li a img {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
	width: 28px;
	height: 28px;
	border-radius: 3px;
}

.chat-users .contact-list li .msg-count {
	padding: 3px 5px;
	position: absolute;
	right: 10px;
	top: 12px;
}

.nopadding {
	padding: 0 !important;
}

.nopadding .table {
	margin-bottom: 0;
}

.nopadding .table-bordered {
	border: 0;
}